<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-responsive-md table-striped text-center btn-table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Capaciter Maximal</th>
        <th scope="col">Etat du Bassin</th>
        <th scope="col">Volume d'Eau</th>
        <th scope="col">Secteur</th>
        <th scope="col">Delete</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bassin of bassins">
        <td>{{ bassin.id }}</td>
        <td>{{ bassin.maxCapacity }}</td>
        <td>{{ bassin.sale }}</td>
        <td>{{ bassin.volumeWater }}</td>
        <td>{{ bassin.secteur.name }}</td>
        <td>
          <button type="button" class="btn btn-danger waves-effect" (click)="OnDelete(bassin.id)" >
            Delete
          </button></td>
      </tr>
      </tbody>
    </table>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/AddBassin" class="btn btn-success waves-effect">Ajouter</a>
      </li>
    </ul>
  </div>
</div>
