<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Max Capacity</th>
        <th scope="col">Sale</th>
        <th scope="col">Volume</th>
        <th scope="col">Secteur</th>
        <th scope="col">Editer</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bassin of bassins">
        <td>{{ bassin.id }}</td>
        <td>{{ bassin.maxCapacity }}</td>
        <td>{{ bassin.sale }}</td>
        <td>{{ bassin.volumeWater }}</td>
        <td>{{ bassin.secteur.name }}</td>
        <td>
          <button type="button" class="btn btn-danger waves-effect" (click)="OnDelete(bassin.id)" >
            Delete
          </button></td>
      </tr>
      </tbody>
    </table>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/AddBassin" class="btn btn-success waves-effect">Ajouter</a>
      </li>
    </ul>
  </div>
</div>
