<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #especefrom="ngForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" [(ngModel)]="espece.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter le Nom"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Le Nom est requis</div>
      <div class="form-group">
        <label for="regime">Regime Alimentaire</label>
        <input type="text" [(ngModel)]="espece.regime"
               class="form-control"
               id="regime"
               name="regime"
               placeholder="Enter le regime alimentaire "
               required #regime="ngModel">
        <div [hidden]="!regime.pristine" class="alert alert-danger">Regime alimentaire requis</div>
      </div>
      <div class="form-group">
        <label for="menacer">Espece Menacer</label>
        <input type="number" [(ngModel)]="espece.menacer"
               class="form-control"
               id="menacer"
               name="menacer"
               min="1"
               max="10"
               placeholder="Enter Espece menacer (entre 1 et 10)"
               required #menacer="ngModel">
        <div [hidden]="!menacer.pristine" class="alert alert-danger">Espece menacer requis</div>
      </div>
      <div class="form-group">
        <label for="esperanceDate">Esperence de vie</label>
        <input type="Date" [(ngModel)]="espece.esperanceDate"
               class="form-control"
               id="esperanceDate"
               name="esperanceDate"
               placeholder="Enter la localisation"
               required #esperanceDate="ngModel">
        <div [hidden]="!esperanceDate.pristine" class="alert alert-danger">Esperence de vie est requis</div>
      </div>
      <button type="submit" [disabled]="!especefrom.form.valid"
              class="btn btn-info">Valider</button>
    </form>
  </div>
</div>
