<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #bassinfrom="ngForm">
      <div class="form-group">
        <label for="maxCapacity">Capaciter max</label>
        <input type="number" [(ngModel)]="bassin.maxCapacity"
               class="form-control"
               id="maxCapacity"
               name="maxCapacity"
               placeholder="Enter your Capacity max"
               required #maxCapacity="ngModel">
      </div>
      <div [hidden]="!maxCapacity.pristine" class="alert alert-danger">Capaciter max is required</div>
      <div class="form-group">
        <label for="volumeWater">Volume d'eau</label>
        <input type="Number" [(ngModel)]="bassin.volumeWater"
               class="form-control"
               id="volumeWater"
               name="volumeWater"
               placeholder="Enter your Volume d'eau"
               required #volumeWater="ngModel">
        <div [hidden]="!volumeWater.pristine" class="alert alert-danger">Volume d'eau is required</div>
      </div>
      <div class="form-group">
        <label for="sale">Sale</label>
        <select type="text" [(ngModel)]="bassin.sale"
               class="form-control"
               id="sale"
               name="sale"
               placeholder="Enter your sale"
               required #sale="ngModel">
          <option  [ngValue]="true">
            true
          </option>
          <option  [ngValue]="false">
            false
          </option>
          </select>
        <div [hidden]="!sale.pristine" class="alert alert-danger">sale is required</div>
      </div>
      <div class="form-group">
        <label for="secteur">Secteur</label>
        <select type="text" [(ngModel)]="bassin.secteur"
                class="form-control"
                id="secteur"
                name="secteur"
                placeholder="Enter your secteur du bassin"
                required #secteur="ngModel">
          <option *ngFor="let secteur of secteurs" [ngValue]="secteur">
            {{secteur.name}}
          </option>
          <div [hidden]="!secteur.pristine" class="alert alert-danger">secteur is required</div>
        </select>
      </div>
      <button type="submit" [disabled]="!bassinfrom.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
