<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #secteurfrom="ngForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" [(ngModel)]="secteur.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter le nom"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name est requis</div>
      <div class="form-group">
        <label for="localisation">Regime alimentaire</label>
        <input type="number" [(ngModel)]="secteur.localisation"
               class="form-control"
               id="localisation"
               name="localisation"
               min="0"
               placeholder="Enter your localisation "
               required #regime="ngModel">
        <div [hidden]="!regime.pristine" class="alert alert-danger">localisation est requis</div>
      </div>
      <button type="submit" [disabled]="!secteurfrom.form.valid"
              class="btn btn-info">Valider</button>
    </form>
  </div>
</div>
