<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-responsive-md table-striped text-center btn-table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Sexe</th>
        <th scope="col">Espece Animal</th>
        <th scope="col">Signe Distinctif</th>
        <th scope="col">Date d'Entre</th>
        <th scope="col">Date de Sortie</th>
        <th scope="col">Numero du Basssin</th>
        <th scope="col">Delete</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of animal">
        <td>{{ animal.id }}</td>
        <td>{{ animal.nom }}</td>
        <td>{{ animal.sexe }}</td>
        <td>{{ animal.espece.name }}</td>
        <td>{{ animal.signeDistinctif }}</td>
        <td>{{ animal.startDate|date:'short' }}</td>
        <td>{{ animal.endDate|date:'short' }}</td>
        <td>{{ animal.bassin.id }}</td>
        <td>
          <button type="button" class="btn btn-danger waves-effect" (click)="OnDelete(animal.id)" >
            D
          </button></td>
        <td>
      </tr>
      </tbody>
    </table>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/AddAnimal" class="btn btn-success waves-effect">Ajouter</a>
      </li>
    </ul>
  </div>
</div>


