<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #animalfrom="ngForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" [(ngModel)]="animal.nom"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter le Nom"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Le Nom est requis</div>
      <div class="form-group">
        <label for="sexe">Sexe</label>
        <input type="text" [(ngModel)]="animal.sexe"
               class="form-control"
               id="sexe"
               name="sexe"
               placeholder="Enter le Sexe "
               required #sexe="ngModel">
        <div [hidden]="!sexe.pristine" class="alert alert-danger">Le Sexe requis</div>
      </div>
      <div class="form-group">
        <label for="signeDistinctif">Signe Distinctif</label>
        <input type="text" [(ngModel)]="animal.signeDistinctif"
               class="form-control"
               id="signeDistinctif"
               name="signeDistinctif"
               placeholder="Enter le Signe Distinctif"
               required #signeDistinctif="ngModel">
        <div [hidden]="!signeDistinctif.pristine" class="alert alert-danger">Le Signe Distinctif est requis</div>
      </div>
      <div class="form-group">
        <label for="startDate">Date d'Entrer</label>
        <input type="Date" [(ngModel)]="animal.startDate"
               class="form-control"
               id="startDate"
               name="startDate"
               placeholder="Enter la Date d'Entrer"
               required #startDate="ngModel">
        <div [hidden]="!startDate.pristine" class="alert alert-danger">La Date d'Entre est requis</div>
      </div>
      <div class="form-group">
        <label for="endDate">Date de Sortie</label>
        <input type="Date" [(ngModel)]="animal.endDate"
               class="form-control"
               id="endDate"
               name="endDate"
               placeholder="Enter la Date de Sortie"
               required #endDate="ngModel">
        <div [hidden]="!endDate.pristine" class="alert alert-danger">La Date de Sortie est requis</div>
      </div>
      <div class="form-group">
        <label for="bassin">Numero du Bassin</label>
        <select type="text" [(ngModel)]="animal.bassin"
                class="form-control"
                id="bassin"
                name="bassin"
                placeholder="Enter le  Numero du Bassin"
                required #bassin="ngModel">
          <option *ngFor="let bassin of bassins" [ngValue]="bassin">
            {{bassin.id}}
          </option>
          <div [hidden]="!bassin.pristine" class="alert alert-danger">le Numero du Bassin est requis</div>
        </select>
      </div>
      <div class="form-group">
        <label for="espece">Espece de l'Animal</label>
        <select type="text" [(ngModel)]="animal.espece"
                class="form-control"
                id="espece"
                name="espece"
                placeholder="Enter l'Espece de l'animal"
                required #espece="ngModel">
          <option *ngFor="let espece of especes" [ngValue]="espece">
            {{espece.name}}
          </option>
          <div [hidden]="!espece.pristine" class="alert alert-danger">l'Espece de l'animal requis</div>
        </select>
      </div>
      <button type="submit" [disabled]="!animalfrom.form.valid"
              class="btn btn-info">Valider</button>
    </form>
  </div>
</div>
